/* This is about page */
.card50{
    width: 1200px;
    height: 630px;
    margin-top: -40px;
    margin-left: 17%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.abouthead{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    justify-content: center;
    margin-right: 0px;
    margin-top: 40px;
}

.aboutunder{
    position: absolute;
    width: 100px;
    height: 2px;
    background: black;
    left: 541px;
    top: 50px;
}

.about-text{
    margin-top: 30px;
    margin-left: 210px;
}

.about-text{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
}

.ab1{
    margin-left: -10px;
}
.ab2{
    margin-left: -45px;
}
.ab3{
    margin-left: -30px;
}
.ab4{
    margin-left: 50px;
}
.ab5{
    margin-left: -35px;
}
.ab6{
    margin-left: 160px;
}
.ab7{
margin-left: -58px;
margin-top: 40px;
}
.ab8{
    margin-left: -56px;
}
.ab9{
    margin-left: -45px;
}
.ab10{
    margin-left: -30px;
}
.ab11{
    margin-left: 20px;
}


.Group4{
    margin-top: -180px;
    float: right;
    margin-right: 20px;
    height: 260px;
}
.Group5{
    margin-top: -225px;
    width: 130px;
    height: 200px;
    margin-left: 30px;
}


/* This is for pc */
@media screen and (max-width: 1440px) {
    .card50{
        margin-left: 8.5%;
    }

}
@media screen and (max-width: 1024px) {
    .card50{
        width: 80%;
        height: 400px;
        margin-left: 10%;  
    }
    
    .abouthead{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        justify-content: center;
        margin-right: 0px;
        margin-top: 25px;
    }
    
    .aboutunder{
        position: absolute;
        width: 100px;
        height: 2px;
        background: black;
        left: 352px;
        top: 35px;
    }
    
    .about-text{
        margin-top: 10px;
        margin-left: 130px;
    }
    
    .about-text{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        line-height: 10px; 
    }
    
    .ab1{
        margin-left: -10px;
    }
    .ab2{
        margin-left: -45px;
    }
    .ab3{
        margin-left: -30px;
    }
    .ab4{
        margin-left: 50px;
    }
    .ab5{
        margin-left: -35px;
    }
    .ab6{
        margin-left: 160px;
    }
    .ab7{
    margin-left: -58px;
    margin-top: 30px;
    }
    .ab8{
        margin-left: -56px;
    }
    .ab9{
        margin-left: -45px;
    }
    .ab10{
        margin-left: -30px;
    }
    .ab11{
        margin-left: 20px;
    }
    
    
    .Group4{
        margin-top: -83px;
        float: right;
        margin-right: 20px;
        width: 80px;
        height: 110px;
    }
    .Group5{
        margin-top: -134px;
        width: 80px;
        height: 110px;
        margin-left: 20px;
    }
   .membertext2{
        position: absolute;
        top: 500px;
        margin-left: 10px;
        font-size: 5px;
    }
}


@media screen and (max-width: 768px) {
    .card50{
        width: 90%;
        height: 400px;
        margin-left: 40px;
    }
    .about-text{
        text-align: 200px;
        line-height: 5px;
    }
    .about-text{
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
        line-height: 10px; 
    }
    .ab1{
        margin-left: -10px;
    }
    .ab2{
        margin-left: -45px;
    }
    .ab3{
        margin-left: -30px;
    }
    .ab4{
        margin-left: 50px;
    }
    .ab5{
        margin-left: -35px;
    }
    .ab6{
        margin-left: 160px;
    }
    .ab7{
    margin-left: -58px;
    margin-top: 30px;
    }
    .ab8{
        margin-left: -56px;
    }
    .ab9{
        margin-left: -45px;
    }
    .ab10{
        margin-left: -30px;
    }
    .ab11{
        margin-left: 20px;
    }
    
    
    .Group4{
        margin-top: -83px;
        float: right;
        margin-right: 20px;
        width: 80px;
        height: 110px;
    }
    .Group5{
        margin-top: -134px;
        width: 80px;
        height: 110px;
        margin-left: 20px;
    }
}

/* this is for mobile 425px */
@media screen and (max-width: 425px) {
  html,body{
      overflow-x: hidden;
      overflow-y: auto;
  }
    .card50{
        width: 95%;
        height: 250px;
        margin-left: 11px;
     
    }
    .about-text{
        width: 500px;
        font-size: 9.5px;
        line-height: 0px;
        margin-left: 60px;
    }
    .card50
    .abouthead{
        font-size: 18px;
        margin-left: 0px;
    }
    .card50
    .aboutunder{
        position: absolute;
        margin-left: -186px;
        width: 70px;
    }
    .ab1{
        margin-left: -10px;
    }
    .ab2{
        margin-top: -5px;
        margin-left: -26px;
    }
    .ab3{
        margin-top: -5px;
        margin-left: -20px;
    }
    .ab4{
        margin-top: -5px;
        margin-left: 20px;
    }
    .ab5{
        margin-top: -5px;
        margin-left: -24px;
    }
    .ab6{
        margin-top: -5px;
        margin-left: 50px;
    }
    .ab7{
        width: 450px;
    margin-left: -32px;
    margin-top: 20px;
    }
    .ab8{
        margin-top: -5px;
        margin-left: -34px;
    }
    .ab9{
        margin-top: -5px;
        margin-left: -27px;
    }
    .ab10{
        margin-top: -5px;
        margin-left: -20px;
    }
    .ab11{
        margin-top: -5px;
        margin-left: 10px;
    }
      
    .Group4{
        margin-top: -29px;
        float: right;
        margin-right: 5px;
        width: 40px;
        height: 70px;
    }
    .Group5{
        margin-top: -92px;
        width: 40px;
        height: 70px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 380px) {
    .card50{
        width: 99%;
        height: 230px;
        margin-left: 2px;
    }
    .about-text{
        width: 500px;
        font-size: 9.5px;
        line-height: 0px;
        margin-left: 36px;
        margin-top: 5px;
    }
    .card50
    .abouthead{
        font-size: 18px;
    }
    .card50
    .aboutunder{
        position: absolute;
        margin-left: -215px;
        width: 70px;
    }
    .ab1{
        margin-left: -10px;
    }
    .ab2{
        margin-top: -5px;
        margin-left: -26px;
    }
    .ab3{
        margin-top: -5px;
        margin-left: -20px;
    }
    .ab4{
        margin-top: -5px;
        margin-left: 20px;
    }
    .ab5{
        margin-top: -5px;
        margin-left: -24px;
    }
    .ab6{
        margin-top: -5px;
        margin-left: 50px;
    }
    .ab7{
        width: 450px;
    margin-left: -32px;
    margin-top: 20px;
    }
    .ab8{
        margin-top: -5px;
        margin-left: -34px;
    }
    .ab9{
        margin-top: -5px;
        margin-left: -27px;
    }
    .ab10{
        margin-top: -5px;
        margin-left: -20px;
    }
    .ab11{
        margin-top: -5px;
        margin-left: 10px;
    }
      
    .Group4{
        margin-top: -24px;
        float: right;
        margin-right: 5px;
        width: 30px;
        height: 50px;
    }
    .Group5{
        margin-top: -72px;
        width: 30px;
        height: 50px;
        margin-left: 5px;
    }
}



/* This is team section */
.ourteam{
    position: absolute;
    width: 1200px;
    height: 1680px;
    margin-top: 100px;
    margin-left: 17%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.teamhead{
    position: absolute;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-left: 565px;  
}

.teamhr{
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: black;
    margin-top: 130px;
    margin-left: 583px;
    
}
.fa-instagram{
    font-size: 40px;
    color: #000000;
    margin-left: 110px;
}
.fa-twitter-square{
    font-size: 40px;
    color: #000000;
    margin-left: 20px;
}
.fa-facebook-square{
    font-size: 40px;
    color: #000000;
    margin-left: 110px;
}


.teammember1{
    position: absolute;
    width: ;
    height: 400px;
    background: linear-gradient(90deg, #EFEFBB 0%, #D4D3DD 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 13%;

}

.teammember2{
    position: absolute;
    width: 900px;
    height: 400px;
    background: linear-gradient(90deg, #C7D6ED 0%, #D4D3DD 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 700px;
    margin-left: 13%;
}
.teammember3{
    position: absolute;
    width: 900px;
    height: 400px;
    background: linear-gradient(90deg, #C7D6ED 0%, #D4D3DD 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 1200px;
    margin-left: 13%;
}

.Group37,.Group38,.Group39{
    width: 210px;
    margin-top: 45px;
    margin-left: 50px;
}

.vl3{
    border-left: 6px solid black;
    height: 190px;
    margin-left: 300px;
    margin-top: -155px;
}
.vl4{
    border-left: 6px solid black;
    height: 190px;
    margin-left: 300px;
    margin-top: -155px;
}

.membername1{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 100px;
    margin-top: -20px;
}
.membername12{
    font-size: 12px;
    margin-left: -580px;
    letter-spacing: 0.02em;
}
    

.membername2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 115px;
    margin-top: -20px;
}
.membername21{
    font-size: 12px;
    margin-left: -590px;
    letter-spacing: 0.02em;
}

.membername3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 60px;
    margin-top: -20px;
}
.membername31{
    font-size: 12px;
    margin-left: -580px;
    letter-spacing: 0.02em;
}
    

.membertext{

    font-size: 22px;
    margin-left: 350px;
    margin-top: -310px;
    line-height: 10px;
    font-family: Poppins;
    
}
.membertext2{
    font-size: 22px;
    margin-left: 35px;
    margin-top: -310px;
    line-height: 10px;
    font-family: Poppins;
}


.mt2{
    margin-left: -12px;
    margin-top: 15px;
}
.mt3{
    margin-left:5px;
}
    .mt2{
        margin-left: -12px;
        margin-top: 0px;
    }
    .mt3{
        margin-top: 10px;
        margin-left: 5px;
        
        margin-top: -10px;
    }
    .mt4{
        margin-left: 0px;
        margin-top: -5px;
    }
    .mt5{
        margin-top: 30px;
        margin-left: 0px;
    }
    .mt6{ 
    }
    .mt2{
        margin-left: -12px;
        margin-top: 0px;
    }
    .mt3{
        margin-top: 10px;
        margin-left: 5px;
        
        margin-top: -10px;
    }
    .mt4{
        margin-left: 0px;
        margin-top: -5px;
    }
    .mt5{
        margin-top: 30px;
        margin-left: 0px;
    }
    .mt6{
        margin-top: 15px;
        margin-left: 15px;
    }
    .mt7{
        margin-left: 5px;
        margin-top: -3px;
    }
    .mt8{
        margin-left: -10px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .mt7{
        margin-left: 5px;
        margin-top: -3px;
    }
    .mt8{
        margin-left: -10px;
    }
.mt4{
     margin-left: 0px;
    margin-top: -5px;
}
.mt5{
    margin-top: 30px;
    margin-left: 0px;
}
.mt6{
    margin-top: 15px;
    margin-left: 15px;
}
.mt7{
    margin-left: 5px;
    margin-top: -3px;
}
.mt8{
    margin-left: -10px;
    margin-top: -4px;
}
.mt9{
    margin-top: -3px;
    margin-left: 20px;
}
.mt11{
    margin-left: -10px;
}
.mt22{
    margin-left: -30px;
}
.mt33{
    margin-top: -10px;
    margin-left: -49px;
    
}
.mt44{
    margin-top: -10px;
    margin-left: -30px;
}
.mt55{
    margin-top: -10px;
    margin-left: 66px;
}
.mt66{
    margin-top: 40px;
    margin-left: -30px;
}
.mt77{
    margin-top: -10px;
}
.mt88{
    margin-top: -10px;
    margin-left: -6px;
}
.mt99{
    margin-top: -10px;
    margin-left: -1px;
}
.mt111{
    margin-left: 130px;
}

.mtt1{
    margin-left: 40px;
}
.mtt2{
    margin-top: 20px;
    margin-left: 10px;
}
.mtt3{
    margin-top: -3px;
    margin-left: -16px;
}
.mtt4{
    margin-top: -3px;
    margin-left: -16px;
}
.mtt5{
    margin-top: 20px;
    margin-left: 10px;
}
.mtt6{
    margin-top: -3px;
    margin-left: 30px;
}


















.membertext2{
    width: 500px;
}
.membertext3{
    margin-top: 50px;
    width: 800px;
}

/* this is for pc */
@media screen and (max-width: 1440px) {
    .ourteam{
        margin-left: 8.5%;
    }
}
@media screen and (max-width: 1024px) {
    .ourteam{
        width:80%;
        margin-left: 10%;
        overflow-x: hidden;
    }
    .teamhead{
        margin-left: 370px;  
    }
    
    .teamhr{
        margin-left: 390px;
        
    }
    .fa-instagram{
        font-size: 40px;
        color: #000000;
        margin-left: 110px;
    }
    .fa-twitter-square{
        font-size: 40px;
        color: #000000;
        margin-left: 20px;
    }
    .fa-facebook-square{
        font-size: 40px;
        color: #000000;
        margin-left: 110px;
    }
    
    
    .teammember1{
        position: absolute;
        width: 740px;
        height: 400px;
        background: linear-gradient(90deg, #EFEFBB 0%, #D4D3DD 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 200px;
        margin-left: 5%;
    
    }
    
    .teammember2{
        position: absolute;
        width: 740px;
        height: 400px;
        background: linear-gradient(90deg, #C7D6ED 0%, #D4D3DD 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 700px;
        margin-left: 5%;
    }
    .teammember3{
        position: absolute;
        width: 740px;
        height: 400px;
        background: linear-gradient(90deg, #C7D6ED 0%, #D4D3DD 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 1200px;
        margin-left: 5%;
    }

    .membertext{
        font-size: 17px;
        margin-left: 328px;
        margin-top: -310px;
        line-height: 8px;
    }
    
    .mt2{
        margin-left: -12px;
        margin-top: 0px;
    }
    .mt3{
        margin-left:5px;
        
        margin-top: -10px;
    }
    .mt4{
        margin-left: 0px;
        margin-top: -5px;
    }
    .mt5{
        margin-top: 30px;
        margin-left: 0px;
    }
    .mt6{
        margin-top: 15px;
        margin-left: 15px;
    }
    .mt7{
        margin-left: 5px;
        margin-top: -3px;
    }
    .mt8{
        margin-left: -10px;
        margin-top: -4px;
    }
    .mt9{
        margin-top: -3px;
        margin-left: 20px;
    }
    .membertext2{
        font-size: 17px;
        margin-top: -450px;
    }

}
/* this is for phones */
@media screen and (max-width: 425px) {
    .ourteam{
        width: 100%;
        height: 850px;
        margin-left: 0px;
    }
    .teammember1{
        width: 97%;
        height: 200px;
        margin-left: 6px;
        margin-top: 110px;
    }
    .teammember2{
        width: 97%;
        height: 200px;
        margin-left: 6px;
        margin-top: 350px;
    }
    .teammember3{
        width: 97%;
        height: 200px;
        top: -600px;
        margin-left: 6px;
    }
    .teamhead{
        margin-left: 170px;  
        font-size: 20px;
        top: -60px;
    }
    .teamhr{
        margin-left: 180px;
        top: -65px;   
    }
    .fa-instagram{
        font-size: 20px;
        color: #000000;
        margin-left: 30px;
        margin-top: 5px;
    }
    .fa-twitter-square{
        font-size: 20px;
        color: #000000;
        margin-left: 20px;
    }
    .fa-facebook-square{
        font-size: 20px;
        color: #000000;
        margin-left: 30px;
    }
    
   .Group37,.Group38,.Group39{
        width: 15%;
        margin-left: 25px;
   }
   .vl3{
    height: 100px;
    width: 0px;
    border: 2px solid black;
    margin-left: 130px;
    margin-top: -45px;
   }
   .vl4{
        height: 100px;
        width: 0px;
        border: 2px solid black;
        margin-left: 130px;
        margin-top: -45px;
   }

    .membertext{
        font-size: 10px;
        margin-left: 155px;
        margin-top: -140px;
        line-height: 1px;
        width: 500px;
    }
    
    .mt2{
        margin-left: -5px;
        margin-top: -4px;
    }
    .mt3{
        margin-top: -4px;
        margin-left: 1px;
        
    }
    .mt4{
        margin-left: 0px;
        margin-top: -5px;
    }
    .mt5{
        margin-top: 20px;
        margin-left: 0px;
    }
    .mt6{
        margin-top: 6px;
        margin-left: 15px;
    }
    .mt7{
        margin-left: 5px;
        margin-top: -3px;
    }
    .mt8{
        margin-left: -10px;
        margin-top: -4px;
    }
    .mt9{
        margin-top: -3px;
        margin-left: 20px;
    }
    .membername1{
        font-size: 10px;
        margin-left: 30px;
        margin-top: -40px;
    }
    .membername12{
        font-size: 8px;
        margin-left: -280px;
        margin-top: -1px;
    }
    .membername2{
        font-size: 10px;
        margin-left: 40px;
        margin-top: -35px;
    }
    .membername21{
        margin-left: -295px;
        font-size: 8px;
        margin-top: -1px;
    }
    .membername3{
        font-size: 10px;
        margin-left: 15px;
        margin-top: -35px;
    }
    .membername31{
        font-size: 8px;
        margin-left: -290px;
        margin-top: -1px;
    }
    .membertext2{
        font-size: 10px;
        margin-left: 10px;
        margin-top: -465px;
        line-height: 1px;
        width: 500px;
    }
    .mt11{
       margin-left: 2px; 
    }
    .mt22{
        margin-top: -3px;
        margin-left: -5px;
    }
    .mt33{
        margin-left: -12px;
        margin-top: -3px;
    }
    .mt44{
        margin-top: -3px;
        margin-left: -3px;
    }
    .mt55{
        margin-top: -3px;
        margin-left: 40px;
    }
    .mt66{
        margin-top: 1px;
        margin-left: -5px;
    }
    .mt77{
        margin-top: -5px;
        margin-left: 10px;
    }
    .mt88{
        margin-top: -5px;
        margin-left: 3px;
    }
    .mt99{
        margin-top: -5px;
        margin-left: 20px;
    }
    .mt100{
        margin-top: -5px;
        margin-left: 15px;
    }
    .mt111{
        margin-left: 70px;
        margin-top: -5px;
    }
    .membertext3{
        margin-top: 20px;
    }
    .mtt1{
        margin-left: 15px;
    }
    .mtt2{
        margin-top: -2px;
    }
    .mtt3{
        margin-left: -10px;
    }
    .mtt4{
        margin-left: -10px;
    }
    .mtt5{
        margin-top: -2px;
    }
    .mtt6{
        margin-left: 10px;
    } 
}

@media screen and (max-width: 380px) {
        .ourteam{
            width: 100%;
            height: 850px;
            margin-left: 0px;
        }
        .teammember1{
            width: 100%;
            height: 200px;
            margin-left: 0px;
        }
        .teammember2{
            width: 100%;
            height: 200px;
            margin-left: 0px;
            top:  5px;
        }
        .teammember3{
            width: 100%;
            height: 200px;
            top: -600px;
            margin-left: 0px;
        }
        .teamhead{
            margin-left: 130px;  
            font-size: 20px;
        }
        
        .teamhr{
            margin-left: 145px;
            top: -6px;
            
        }
        .fa-instagram{
            font-size: 20px;
            color: #000000;
            margin-left: 30px;
            margin-top: 5px;
        }
        .fa-twitter-square{
            font-size: 20px;
            color: #000000;
            margin-left: 20px;
        }
        .fa-facebook-square{
            font-size: 20px;
            color: #000000;
            margin-left: 30px;
        }
        
       .Group37,.Group38,.Group39{
            width: 15%;
            margin-left: 30px;
       }
       .vl3{
        height: 100px;
        width: 0px;
        border: 2px solid black;
        margin-left: 130px;
        margin-top: -45px;
       }
       .vl4{
            height: 100px;
            width: 0px;
            border: 2px solid black;
            margin-left: 130px;
            margin-top: -45px;
       }
    
        .membertext{
            font-size: 9px;
            margin-left: 155px;
            margin-top: -140px;
            line-height: 1px;
            width: 500px;
        }
        .membertext2{
            font-size: 9px;
            margin-left: 0px;
        }
        
        .mt2{
            margin-left: -5px;
            margin-top: -4px;
        }
        .mt3{
            margin-top: -4px;
            margin-left: 1px;
            
        }
        .mt4{
            margin-left: 0px;
            margin-top: -5px;
        }
        .mt5{
            margin-top: 20px;
            margin-left: 0px;
        }
        .mt6{
            margin-top: 6px;
            margin-left: 15px;
        }
        .mt7{
            margin-left: 5px;
            margin-top: -3px;
        }
        .mt8{
            margin-left: -10px;
            margin-top: -4px;
        }
        .mt9{
            margin-top: -3px;
            margin-left: 20px;
        }
        .membername1{
            font-size: 10px;
            margin-left: 30px;
            margin-top: -40px;
        }
        .membername12{
            font-size: 8px;
            margin-left: -240px;
            margin-top: -1px;
        }
        .membername2{
            font-size: 10px;
            margin-left: 40px;
            margin-top: -35px;
        }
        .membername21{
            margin-left: -240px;
            font-size: 8px;
            margin-top: -1px;
        }
        .membername3{
            font-size: 10px;
            margin-left: 15px;
            margin-top: -35px;
        }
        .membername31{
            font-size: 8px;
            margin-left: -240px;
            margin-top: -1px;
        }
       
        .mt22{
            margin-top: -3px;
            margin-left: -5px;
        }
        .mt33{
            margin-left: -12px;
            margin-top: -3px;
        }
        .mt44{
            margin-top: -3px;
            margin-left: -3px;
        }
        .mt55{
            margin-top: -3px;
            margin-left: 40px;
        }
        .mt66{
            top: 10px;
            margin-left: -5px;
        }
        .mt77{
            margin-top: -5px;
            margin-left: 10px;
        }
        .mt88{
            margin-top: -5px;
            margin-left: 3px;
        }
        .mt99{
            margin-top: -5px;
            margin-left: 20px;
        }
        .mt100{
            margin-top: -5px;
            margin-left: 15px;
        }
        .mt111{
            margin-left: 70px;
            margin-top: -5px;
        }
        .membertext3{
            margin-top: 20px;
        }
        .mtt1{
            margin-left: 10px;
        }
        .mtt2{
            
        }
        .mtt3{
            margin-left: -10px;
        }
        .mtt4{
            margin-left: -10px;
        }
        .mtt5{
            
        }
        .mtt6{
            margin-left: 10px;
        }
}




















/* this is for pc */
@media screen and (max-width: 1440px) {
    .testimony{
        margin-left: 8.5%;
    }
}

@media screen and (max-width: 1024px) {
    .testimony{
        width: 80%;
        margin-left: 10%;
    }
}
/* this is for phone */
@media screen and (max-width: 768px) {
    .testimony{
        max-width: 100%;
        height: 400px;
    }
    .testimony-data{
        font-size: 8x;
        margin-left: -20px;
    }
    .testi1,.testi2,.testi3,.testi4{
        font-size: 10px;
        margin-left: -90px;
    }
}



/* This section is avtars */

.avatars{
    width: 1200px;
    height: 550px;
    background-color: black;
    margin-top: 2500px;
    margin-left: 17%;
}
.avatar5{
    position: absolute;
    margin-left: -100px;
}
.avatar1{
    position: absolute;
    margin-top: 340px;
    margin-left: 55px;
}
.avatar2{
    margin-top: 300px;
    margin-left: 300px;
}
.avatar3{
    margin-top: 290px;
    margin-left: 200px;
}
.avatar4{
    margin-left: 200px;
    margin-top: 340px;
}

/* This is for pc */
@media screen and (max-width: 1440px) {
    .avatars{
        margin-left: 8.5%;
    }
}
@media screen and (max-width: 1440px) {
    .vl11{
        margin-top: 100px;
        margin-left: -1px;
    }
    .vl22{
        margin-top: -168px;
    }
}
@media screen and (max-width: 1024px) {
    .avatars{
        width: 80%;
        margin-left: 10%;

    }
    .avatar5{
        position: absolute;
        margin-left: -100px;
    }
    .avatar1{
        position: absolute;
        margin-top: 340px;
        margin-left: 30px;
    }
    .avatar2{
        margin-top: 300px;
        margin-left: 170px;
    }
    .avatar3{
        margin-top: 285px;
        margin-left: 150px;
    }
    .avatar4{
        margin-left: 100px;
        margin-top: 340px;
    }
}

/* this is for mobiles */
@media screen and (max-width: 425px) {
    .avatars{ 
        width: 100%;
        height: 200px;
        margin-left: 0px;
        margin-top: 1400px;
    }
    .avatar5{
        position: absolute;
        margin-left: -50px;
        width: 50px;
        margin-top: -190px;
    }
    .avatar1{
        position: absolute;
        margin-top: 130px;
        margin-left: 30px;
        width: 50px;
        height: 70px;
    }
    .avatar2{
        margin-top: 123px;
        margin-left: 130px;
        width: 50px;
    }
    .avatar3{
        margin-top: 119px;
        margin-left: 60px;
        width: 50px;
    }
    .avatar4{
        margin-left: 370px;
        margin-top: -80px;
        width: 20px;
    }
}


@media screen and (max-width: 380px) {
    .avatars{
       
        width: 100%;
        height: 200px;
        margin-left: 0px;
        margin-top: 1400px;
    }
    .avatar5{
        position: absolute;
        margin-left: -50px;
        width: 50px;
        margin-top: -190px;
    }
    .avatar1{
        position: absolute;
        margin-top: 130px;
        margin-left: 30px;
        width: 50px;
    }
    .avatar2{
        margin-top: 123px;
        margin-left: 100px;
        width: 50px;
    }
    .avatar3{
        margin-top: 116px;
        margin-left: 60px;
        width: 50px;
    }
    .avatar4{
        margin-left: 310px;
        margin-top: -80px;
        width: 20px;
    }
}





/* this section is for testimony */

.testihead{
    position: absolute;
    font-size: 25px;
    font-family: Poppins;
    margin-top: -450px;
    margin-left: 500px;
    color: black;
    font-weight: bold;
}
.testihr{
    position: absolute;
    background: black;
    margin-top: -420px;
    width: 120px;
    margin-left: 520px;
    border: 2px solid black;
}
.testimony{
    position: absolute;
    width: 1200px;
    height: 550px;
    margin-top: 1900px;
    margin-left: 17%;
    background: white;
}

.group51{
    width: 100%;
    height: 100px;
}
.group52{
    width: 100%;
    height: 100px;
    margin-top: 360px;
}

.slider {
    margin: 0 auto;
    max-width: 1201px;
    margin-top: -450px;
  }
  .slideimage{
    position: absolute;
    width: 200px;
    height: 100px;
    margin-top: 105px;
    margin-left: 87px;
}
  .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
 
  
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 10s ease-in-out;
    -moz-transition: all 10s ease-in-out;
    -ms-transition: all 10s ease-in-out;
    -o-transition: all 10s ease-in-out;
    transition: all 10s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: red;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }

.testiimage{
    margin-top: 150px;
    margin-left: 100px;
}
.testiimage4{
    position: absolute;
    margin-top: 80px;
    margin-left: 70px;
}
.vl8{
    position: absolute;
    height: 240px;
    border: 2px solid black;
    top: 183px;
    left: 395px;
}
.testimony-data{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 550px;
    margin-top: 100px;
}
.testimony-data2{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top: 120px;
}
.testimony-data3{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top:80px;
}
.testimony-data4{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top: 60px;
}
.testimony-data5{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top: 60px;
}
.testimony-data6{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top: 10px;
}

.testimony-data7{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 400px;
    margin-top: 10px;
}

.testimony-data8{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top: 60px;
}
.testimony-data9{
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 450px;
    margin-top: 180px;
}

.testi2{
    margin-top: -15px;
    margin-left: 70px;
}
.testi3{
    margin-top: -45px;
}
.testi4{
    margin-top: -15px;
    margin-left: 15px;
}
.testi5{
    margin-top: -15px;
    margin-left: 20px;
}
.testi6{
    margin-top: -15px;
    margin-left: 28px;
}
.testi7{
    margin-top: -40px;
    margin-left: 45px;
}
.testi8{
    margin-top: -15px;
    margin-left: 5px;
}
.testi9{
    margin-top: -80px;
    margin-left: -10px;
}
.testi10{
    margin-top: -15px;
}
.testi11{
    margin-top: -44px;
    margin-left: 20px;
}
.testi12{
    margin-top: -20px;
    margin-left: 10px;
}
.testi13{
    margin-top: -16px;
}
.testi14{
    margin-top: 50px;
    margin-left: -10px;
}
.testi15{
    margin-top: -16px;
}
.testi16{
    margin-top: -45px;
    margin-left: 15px;
}
.testi17{
    margin-left: 90px;
    margin-top: -18px;
}
.testi18{
    margin-top: 40px;
}
.testi19{
    margin-top: -15px;
    margin-left: 10px;
}
.testi20{
    margin-top: -45px;
    margin-left: 30px;
}
.testi21{
    margin-top: -15px;
}
.testi22{
    margin-left: 100px;
    margin-top: -15px;
}
.testi23{
    margin-top: 40px;
    margin-left: -10px;
}
.testi24{
    margin-top: -15px;
    margin-left: 15px;
}
.testi25{
    margin-top: -45px;
    margin-left: -10px;
}
.testi26{
    margin-top: -15px;
}
.testi27{
    margin-top: 90px;
    margin-left: -10px;
}
.testi28{
    margin-top: -15px;
}
.testi29{
    margin-top: -45px;
    margin-left: 10px;
}
.testi30{
    margin-top: -20px;
    margin-left: -25px;
}
.testi31{
    margin-top: -15px;
    margin-left: -5px;
}
.testi32{
    margin-top: -17px;
    margin-left: 130px;
}
.testi33{
    margin-top: 100px;
    margin-left: 50px;
}
.testi34{
    margin-top: -15px;
    margin-left: 95px;
}
.testi35{
    margin-top: -45px;
    margin-left: 40px;
}
.testi36{
    margin-top: -15px;
    margin-left: 100px;
}
.testi37{
    margin-top: -15px;
    margin-left: 140px;
}
.testi38{
    margin-top: 50px;
    margin-left: 20px;
}
.testi39{
    margin-top: -15px;
    margin-left: 12px;
}
.testi40{
    margin-top: -45px;
    margin-left: 23px;
}
.testi41{
    margin-top: -17px;
    margin-left: 110px;
}
.testi42{
    margin-top: -17px;
    margin-left: 40px;
}
.testi43{
    margin-top: -17px;
    margin-left: 230px;
}

/* this is for pc */
@media screen and (max-width: 1440px) {
    .testimony{
        margin-left: 8.5%;
    }
}

@media screen and (max-width: 1024px) {
    .testimony{
        width: 80%;
        margin-left: 10%;
    }
    .testihead{
        margin-left: 315px;
    }
    .testihr{
        margin-left: 332px;
    }
}



/* this is for mobile */
@media screen and (max-width: 425px) {
    .testimony{
        width: 100%;
        height: 300px;
        margin-left: 0px;
        top: -450px;
    }
    .testihead{
        font-size: 13px;
        margin-top: -270px;
        margin-left: 160px;
        display: none;
    }
    .testihr{
        margin-left: 170px;
        border: 1px solid black;
        height: 1px;
        width: 60px;
        margin-top: -250px;
        display: none;
    }
    .group51{
        margin-top: 0px;
        height: 50px;
    }
    .group52{
        height: 50px;
        margin-top: 200px; 
    }
    .testiimage{
        width: 100px;
        height: 50px;
        background: red;
        margin-left: 25px;
        margin-top: 180px;
    }
   
    .testi1{
        margin-left: 40px;
        margin-top: 50px;
    }
    .testi2{
        margin-left: 100px;
    }
    
    .testi3{
        margin-top: -30px;
        margin-left: 60px;
    }
    .testi4{
        margin-left: 60px;
    }
    .testi7{
        margin-top: -30px;
        margin-left: 35px;
    }
    .testi11{
        margin-top: -30px; 
    }
    .testi12{
        margin-top: -15px;
    }
    .testi16{
        margin-top: -30px;
    }
    .testi17{
        margin-left: 50px;
    }
    .testi20{
        margin-top: -30px;
    }
    .testi21{
        margin-left: 3px;
    }
    .testi22{
        margin-left: 70px;
    }
    .testi25{
        margin-top: -30px;
    }
    .testi29{
        margin-top: -30px;
    }
    .testi32{
        margin-left: 60px;
    }
    .testi34{
        margin-left: 60px;
    }
    .testi35{
        margin-top: -30px;
    }
    .testi36{
        margin-left:60px;
    }
    .testi37{
        margin-left: 100px;
    }
    .testi40{
        margin-top: -30px;
    }
    .testi41{
        margin-left: 70px;
    }
    .testi43{
        margin-left: 140px;
    }
    .slick-slider{
        width: 100%;
        margin-top: 120px;
    }
   
    .vl8{
        width: 200px;
        border: 1px solid black;
        height: 1px;
        margin-top: -60px;
        margin-left: -280px;
    }
    .slider {
        margin: 0 auto;
        max-width: 439px;
        margin-top: -350px;
      }
      .slideimage{
          width: 80px;
          height: 50px;
          margin-left: 173px;
          margin-top: 10px;
      }
      .slide_viewer {
        height: 233px;
        overflow: hidden;
        position: relative;
        width: 428px;
        margin-left: -29px;
        margin-top: 98px;
       
    }
    .slide_buttons{
        color: #7d7d7d;
    }
    .slide_group{
        margin-left: 20px;
    }
    .testimony-data{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 60px;
        width: 500px;
    }
    .testimony-data2{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 130px;
    }
    .testimony-data9{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 180px;
    }
    .testimony-data3{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 50px;
    }
    .testimony-data4{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 60px;
    }
    .testimony-data5{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 60px;
    }
    .testimony-data6{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 60px;
        margin-top: 10px;
    }
    
    .testimony-data7{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    .testimony-data8{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 30px;
        margin-top: 60px;
    }
  
}
   
    

@media screen and (max-width: 380px) {
    .testimony{
        width: 100%;
        height: 300px;
        margin-left: 0px;
        top: -450px;
    }
    .testihead{
        font-size: 13px;
        margin-top: -270px;
        margin-left: 160px;
        display: none;
    }
    .testihr{
        margin-left: 170px;
        border: 1px solid black;
        height: 1px;
        width: 60px;
        margin-top: -250px;
        display: none;
    }
    .group51{
        margin-top: 0px;
        height: 50px;
    }
    .group52{
        height: 50px;
        margin-top: 200px; 
    }
    .testiimage{
        width: 100px;
        height: 50px;
        background: red;
        margin-left: 25px;
        margin-top: 180px;
    }
   
    .testi1{
        margin-left: 40px;
        margin-top: 50px;
    }
    .testi2{
        margin-left: 100px;
    }
    
    .testi3{
        margin-top: -30px;
        margin-left: 60px;
    }
    .testi4{
        margin-left: 60px;
    }
    .testi7{
        margin-top: -30px;
        margin-left: 35px;
    }
    .testi11{
        margin-top: -30px; 
    }
    .testi12{
        margin-top: -15px;
    }
    .testi16{
        margin-top: -30px;
    }
    .testi17{
        margin-left: 50px;
    }
    .testi20{
        margin-top: -30px;
    }
    .testi21{
        margin-left: 3px;
    }
    .testi22{
        margin-left: 70px;
    }
    .testi25{
        margin-top: -30px;
    }
    .testi29{
        margin-top: -30px;
    }
    .testi32{
        margin-left: 60px;
    }
    .testi34{
        margin-left: 60px;
    }
    .testi35{
        margin-top: -30px;
    }
    .testi36{
        margin-left:60px;
    }
    .testi37{
        margin-left: 100px;
    }
    .testi40{
        margin-top: -30px;
    }
    .testi41{
        margin-left: 70px;
    }
    .testi43{
        margin-left: 140px;
    }
    .slick-slider{
        width: 100%;
        margin-top: 120px;
    }
   
    .vl8{
        width: 200px;
        border: 1px solid black;
        height: 1px;
        margin-top: -60px;
        margin-left: -301px;
    }
    .slider {
        margin: 0 auto;
        max-width: 439px;
        margin-top: -350px;
      }
      .slideimage{
          width: 80px;
          height: 50px;
          margin-left: 159px;
          margin-top: 10px;
      }
      .slide_viewer {
        height: 233px;
        overflow: hidden;
        position: relative;
        width: 428px;
        margin-left: -29px;
        margin-top: 98px;
       
    }
  
    .slide_group{
        margin-left: 20px;
    }
    .testimony-data{
        position: absolute;
        font-size: 9px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 60px;
        width: 500px;
    }
    .testimony-data2{
        position: absolute;
        font-size: 9px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 130px;
    }
    .testimony-data9{
        position: absolute;
        font-size: 9px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 180px;
    }
    .testimony-data3{
        position: absolute;
        font-size: 9px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 50px;
    }
    .testimony-data4{
        position: absolute;
        font-size: 9px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 60px;
    }
    .testimony-data5{
        position: absolute;
        font-size: 9px;
        font-family: Poppins;
        margin-left: 40px;
        margin-top: 60px;
    }
    .testimony-data6{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 35px;
        margin-top: 10px;
    }
    
    .testimony-data7{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: -22px;
        margin-top: 10px;
    }
    
    .testimony-data8{
        position: absolute;
        font-size: 10px;
        font-family: Poppins;
        margin-left: 20px;
        margin-top: 60px;
    }
}