/* this is homepage header */
*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:  #7D7D7D;
  width: 115%;
  height: 200px;
}

.logo{
  position: absolute;
  margin: 0;
  margin-left: 300px;

}

.checkbtn{
  font-size: 35px;
  color: orange;
  margin-left: 100%;
  cursor: pointer;
  line-height: 80px;
  margin-top: -10px;
  display: none;
}
#check{
  display: none;
}

.btn100{
  position: absolute;
  width: 100px;
  height: 60px;
  margin-left:16px;
  margin-top: -30px;
  padding: 10px;
}
.get{
  margin-left: -5px;
  font-size: 18px;
}


.nav-links{
  width: 25%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-left: 205px;
}

a{
  color: black;
  font-size: 23px;
  line-height: 20px;
}

/* This is Tablet */
@media screen and (max-width: 768px) {
  .nav{
    width: 100%;
    height: 200px;
  }
  .box,.logo{
    margin-left: 0px;
  }
  .checkbtn{
    display: block;
  }
  .btn100{
    display: none;
  }
}



/* This is mobile */

@media screen and (max-width: 768px) {
  .nav{
    width: 100%;
    height: 200px;
  }
  .box,.logo{
    margin-left: 0px;
  }
  .checkbtn{
    display: block;
  }
  .btn100{
    display: none;
  }
}










/* This is Homepage body */

.card{
  width: 1200px;
  height: 550px;
  margin-top: -40px;
  margin-left: 17%;
}

.card-text{
  margin-left: 80px;
  margin-top: 25%;
  line-height: 30px;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  color: #000000;
  }
h3{
  font-size: 26px;
 
}
h4{
  font-size: 26px;
  margin-left: -5px;
 
}

.header1234{
  margin-left: 10px;
  
}
.col-md-4,.vector{
  position: absolute;
  margin-top: 20px;
  right: 200px;
  margin-right:-150px;
  margin-top: 50px;
}
.vector{
  position: absolute;
  width: 500px;
  margin-left: 110px;
}

/* this is tablet */

@media screen and (max-width: 768px) {
  .card{
    width: 90%;
    height: 400px;
    margin-left: 40px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 22px;
  }
  .card-text{
    margin-left: 50px;
  }
  .col-md-4,.vector{
    width: 300px;
    height: 200px;
    float: left;
    left: 30%;
  }
}

/* this is for mobile */
@media screen and (max-width: 425px) {
  .card{  
    width: 93%;
    height: 200px;
    margin-left: 4%;
  }
  h3{
    font-size: 13px;
  }
  h4{
    font-size: 13px;
  }

  .card-text{
    margin-top: 30px;
    margin-left: 0px;
  }

  .col-md-4,.vector{
    width: 200px;
    height: 150px;
    top: -40px;
    float: left;
    left: 10%;
  }
}

/* this is for phones*/
@media screen and (max-width: 375px) {
  .card-text{
    margin-top: 30px;
    margin-left: 0px;
  }
  h3{
    font-size: 12px;
  }
  h4{
    font-size: 12px;
  }

  .col-md-4,.vector{
    width: 150px;
    height: 110px;
    top: -30px;
    float: left;
    left: 16%;
  }
}



/* This is services section */


.Service{
  position: absolute;
  margin-left: 200px;
  margin-top: 100px;
  width: 1422px;
  height: 403px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}


.card1{
  width: 167px;
  height: 180px;
  background: #E5E5E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 90px;
  float: left;
  margin-right: 10px;
  margin-top: 100px;

}

.card1
.s1{
  position: absolute;
  left: 142px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
}
.card1
.s2{
    position: absolute;
    left: 410px;
    margin-top: 10px;
}
.card1
.s3{
    position: absolute;
    left: 680px;
    margin-top: 10px;
}
.card1
.s4{
    position: absolute;
    left: 66%;
    margin-top: 10px;
}
.card1
.s5{
    position: absolute;
    left: 85%;
    margin-top: 10px;
}
.card1
.big{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;

}
.card1
.headerpart987{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.card1
.txt{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-top: 90px;
}

.headerpart789{
  font-weight: 600;
}

.dot {
 width: 7px;
 height: 7px;
 background-color: black;
 border-radius: 50%;
 position: relative;
 display: inline-block;
 margin: 0 4px;
 left: 55px;
 top: -20px;
 
}


.card2 {
  position: absolute;
  top: 25%;
  bottom: 10px;
  left: 90px;
  right: 0px;
  height: 210px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  z-index: 1;
  background: #FFFFFF;
  border: 3px solid #96A3C1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: scale(1.05);
}
.card1:hover .card2  {
  opacity: 1;
}
.card3 {
  position: absolute;
  top: 25%;
  bottom: 10px;
  left: 25%;
  right: 0px;
  height: 210px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  z-index: 1;
  background: #FFFFFF;
  border: 3px solid #96A3C1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: scale(1.05);
}
.card1:hover .card3  {
  opacity: 1;
}
.card4 {
  position: absolute;
  top: 25%;
  bottom: 10px;
  left: 43.5%;
  right: 0px;
  height: 210px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  z-index: 1;
  background: #FFFFFF;
  border: 3px solid #96A3C1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: scale(1.05);
}
.card1:hover .card4  {
  opacity: 1;
}
.card5 {
  position: absolute;
  top: 25%;
  bottom: 10px;
  left: 62.5%;
  right: 0px;
  height: 210px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  z-index: 1;
  background: #FFFFFF;
  border: 3px solid #96A3C1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: scale(1.05);
}
.card1:hover .card5  {
  opacity: 1;
}
.card6 {
  position: absolute;
  top: 25%;
  bottom: 10px;
  left: 81%;
  right: 0px;
  height: 210px;
  width: 192px;
  opacity: 0;
  transition: .5s ease;
  z-index: 1;
  background: #FFFFFF;
  border: 3px solid #96A3C1;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: scale(1.05);
}
.card1:hover .card6  {
  opacity: 1;
}

h5{
  font-family: 'Poppins', sans-serif; 
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.text
.t
{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.text
.tx{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
text-align: center;
  margin-top: -15px;
}
.text
.tt{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: -15px;
}
.text
.ttx{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: -15px;
}
.text
.tttx{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: -15px;
}

.fa-arrow-right{
 
  margin-left: 80px;
  font-size: 20px;
  width: 50px;
}

.Third{
  position: absolute;
  margin-top: 50px;
  margin-left: 675px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.new2{
  position: absolute;
  margin-top: 80px;
  margin-left: 678px;
  width: 80px;
  border: 2px solid #000000;
}

/* This is for tablet */

@media screen and (max-width: 768px) {
  .Service{
    width: 100%;
    height: 1100px;
    margin-left: 0px;
  }
  .Third{
    margin-left: 350px;
  }
  .new2{
    margin-left: 354px;
  }
  .card1{
      margin-left: 150px;
  }
  .s1{
    margin-left: 53px;
  }
  .s2{
    margin-left: 95px;
  }
  .s3{
    margin-left: -485px;
  }
  .s5{
    margin-left: -310px;
  }
  .ab{
    margin-left: 300px;
  }
  .card2 {
    position: absolute;
    top: 10%;
    left: 18%;
  }
  .card3 {
    position: absolute;
    top: 10%;
    left: 59%;
  }
  .card4 {
    position: absolute;
    top: 37%;
    left: 18%;
  }
  .card5 {
    position: absolute;
    top: 37%;
    left: 59%;
  }
  .card6 {
    position: absolute;
    top: 64%;
    left: 38%;
  }








}

/* this is for mobile*/

@media screen and (max-width: 425px) {
  .Service{
    width: 100%;
    height: 1000px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .card1{
    margin-left: 29px;
  }
  .Third{
    margin-left: 170px;
  }
  .new2{
    margin-left: 174px;
  }
  .ab{
    margin-left: 150px;
  }
}

/* this is for phones */

@media screen and (max-width: 375px) {
  .card1{
    margin-left: 14px;
  }
  .ab{
    margin-left: 100px;
  }
  .s5{
    margin-left: -170px;
  }
  .s3{
    margin-left: -620px;
  }
  .s1{
    margin-left: -85px;
    top: 130px;
  }
  .s2{
    margin-left: -174px;
  }
  .card2{
      left: 0px;
  }
  .card3{
      left: 180px;
  }
  .card4{
    left: 0px;
    margin-top: 35px;
  }
  .card5{
    left: 180px;
    margin-top: 35px;
  }
  .card6{
    left: 88px;
    margin-top: 60px;
  }
}