/* This is client section */

.client-area{
    position: absolute;
    width: 1200px;
    height: 650px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: 600px;
    margin-bottom: 100px;
    margin-left: 17%;
}

.clienthead{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    margin-top: 50px;
    margin-left: 560px;

}

.horizantalline{
    position: absolute;
    width: 80px;
    border: 2px solid black;
    margin-top: 80px;
    margin-left: 580px;
}

.card7{
    position: absolute;
    width: 186px;
    height: 91px;
    border: 1px solid black;
    top: 180px;
    margin-left: 100px;
    border: none;
}
.a1{
    width: 186px;
    height: 91px;
    margin-top: -2px;
}

.card8{
    position: absolute;
    width: 186px;
    height: 91px;
    margin-top: 140px;
    margin-left: 520px;
    border: none;
}
.a2{
    width: 186px;
    height: 91px;
    margin-top: -3px;
}

.card9{
    position: absolute;
    width: 183px;
    height: 119px;
    top: 160px;
    margin-left: 930px;
    border: none;
}

.a3{
    width: 180px;
    height: 119px;
    margin-top: -3px;
}

.card10{
    position: absolute;
    width: 210px;
    height: 150px;
    margin-top: 300px;
    margin-left: 100px;
    border: none;
}

.a4{
    width: 210px;
    height: 150px;
    margin-top: -3px;
}

.card11{
    position: absolute;
    width: 187px;
    height: 110px;
    margin-top: 350px;
    margin-left:520px;
    border: none;
}
.a5{
    width: 187px;
    height: 120px;
    margin-top: -3px;
}

.card12{
    position: absolute;
    width: 182px;
    height: 122px;
    margin-top: 350px;
    margin-left: 930px;
    border: none;
}

.a6{
    width: 182px;
    height: 122px;
    margin-top: -3px;
}

.card13{
    position: absolute;
    width: 280px;
    height: 100px;
    margin-top: 530px;
    margin-left: 100px;
    border: none;
}

.a7{
    width: 280px;
    height: 100px;
    margin-top: -3px;
}

.card14{
    position: absolute;
    width:200px;
    height: 120px;
    margin-left: 530px;
    margin-top: 530px;
    border: none;
}
.a8{
    width:200px;
    height: 120px;
    margin-top: -1px;
}

.card15{
    position: absolute;
    width: 180px;
    height: 100px;
    margin-left: 930px;
    margin-top: 530px;
    border: none;
}
.a9{
    width: 210px;
    height: 100px;
    margin-top: -3px;
}

.overlay{
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: 160px;
    margin-top: 100px;
    z-index: 1;
    opacity: 0;
}
.card7:hover .overlay {
    opacity: 1;
}

.overlay1{
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -260px;
    margin-top: 100px;
    z-index: 1;
    opacity: 0;
}
.card8:hover .overlay1 {
    opacity: 1;
}
.overlay2{
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -680px;
    margin-top: 68px;
    z-index: 1;
    opacity: 0;
}
.card9:hover .overlay2 {
    opacity: 1;
}

.overlay3{
    position: absolute;
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: 150px;
    margin-top: 1px;
    z-index: 1;
    opacity: 0;
}
.card10:hover .overlay3 {
    opacity: 1;
}
.overlay4{
    position: absolute;
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -260px;
    margin-top: -50px;
    z-index: 1;
    opacity: 0;
}
.card11:hover .overlay4 {
    opacity: 1;
}
.overlay5{
    position: absolute;
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -680px;
    margin-top: -50px;
    z-index: 1;
    opacity: 0;
}
.card12:hover .overlay5 {
    opacity: 1;
}


.overlay6{
    position: absolute;
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: 150px;
    margin-top: -230px;
    z-index: 1;
    opacity: 0;
}
.card13:hover .overlay6 {
    opacity: 1;
}
.overlay7{
    position: absolute;
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -280px;
    margin-top: -230px;
    z-index: 1;
    opacity: 0;
}
.card14:hover .overlay7 {
    opacity: 1;
}
.overlay8{
    position: absolute;
    width: 712px;
    height: 166px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left: -680px;
    margin-top: -230px;
    z-index: 1;
    opacity: 0;
}
.card15:hover .overlay8 {
    opacity: 1;
}

.text-area-header1{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 240px;
}
.belowline1{
    border: 1px solid black;
    background-color: black;
    width: 230px;
    margin-top: 50px;
    margin-left: 250px;
}
.text-area-header2{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 240px;
}
.belowline2{
    border: 1px solid black;
    background-color: black;
    width: 230px;
    margin-top: 50px;
    margin-left: 250px;
}
.text-area-header3{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 205px;
}
.belowline3{
    border: 1px solid black;
    background-color: black;
    width: 230px;
    margin-top: 50px;
    margin-left: 245px;
}
.text-area-header4{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 205px;
}
.belowline4{
    border: 1px solid black;
    background-color: black;
    width: 230px;
    margin-top: 50px;
    margin-left: 230px;
}
.text-area-header5{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 205px;
}
.belowline5{
    border: 1px solid black;
    background-color: black;
    width: 300px;
    margin-top: 50px;
    margin-left: 230px;
}
.text-area-header6{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 225px;
}
.belowline6{
    border: 1px solid black;
    background-color: black;
    width: 200px;
    margin-top: 50px;
    margin-left: 242px;
}
.text-area-header7{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 165px;
}
.belowline7{
    border: 1px solid black;
    background-color: black;
    width: 310px;
    margin-top: 50px;
    margin-left: 198px;
}
.text-area-header8{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 230px;
}
.belowline8{
    border: 1px solid black;
    background-color: black;
    width: 200px;
    margin-top: 50px;
    margin-left: 250px;
}
.text-area-header9{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-left: 230px;
}
.belowline9{
    border: 1px solid black;
    background-color: black;
    width: 230px;
    margin-top: 50px;
    margin-left: 250px;
}
.text-area-data{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}
.text-area-data1{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-top: -16px;
}

/* This is for pc */
@media screen and (max-width: 1440px) {
    .client-area{
        margin-left: 8.5%;
    }
   
}


@media screen and (max-width: 1024px) {
    .client-area{
        width: 800px;
        height: 600px;
        margin-left: 10%;
    }
    .clienthead{
        margin-left: 370px; 
    }
    .horizantalline{
        margin-left: 390px;
    }
    .card7{

        width: 130px;
        height: 80px;
      
        left: -40px;
    }
    .a1{
        width: 130px;
        height: 80px;
    }
    .card8{
 
        left: -160px;
        width: 130px;
        height: 80px;
    }
    .a2{
        width: 130px;
        height: 80px;
    }
    .card9{
    
        left: -280px;
        top: 175px;
        width: 130px;
        height: 90px;
    }
    .a3{
        width: 130px;
        height: 90px;
    }
    .card10{
     
        left: -50px;
        top: 20px;
        width: 130px;
        height: 90px;
    }
    .a4{
        width: 130px;
        height: 90px;
    }
    .card11{

        left: -160px;
        width: 130px;
        height: 90px;
        top: -40px;
    }
    .a5{
        width: 130px;
        height: 800px;
    }
    .card12{
  
        left: -280px;
        width: 130px;
        height: 80px;
        top: -30px;
    }
    .a6{
        width: 130px;
        height: 80px;
    }
    .card13{
    
        left: -50px;
        top: -45px;
        width: 130px;
        height: 80px;
    }
    .a7{
        width: 130px;
        height: 80px;
    }
    .card14{
     
        left: -160px;
        width: 130px;
        height: 80px;
        top: -45px;
    }
    .a8{
        margin-top: 20px;
        width: 130px;
        height: 80px;
    }
    .card15{
     
        left: -280px;
        width: 130px;
        height: 90px;
        top: -45px;
    }
    .a9{
        width: 130px;
        height: 90px;
    }
}



/* this is for tablet */

@media screen and (max-width: 768px) {
    .client-area{
        position: relative;
        width: 100%;
        top: 750px;
        margin-left: 0px;
        bottom: 0px;
    }
    .clienthead{
        margin-left: 350px;
    }
    .horizantalline{
        margin-left: 370px;
    }
    .overlay,.overlay1,.overlay2,.overlay3,.overlay4,.overlay5,.overlay6,.overlay7,.overlay8{
        display: none;
    }
    .card7{
        width: 160px;
        height: 110px;
        margin-left: 50px;

    }
    .a1{
        width: 160px;
        height: 110px;
        margin: 0px;
    }
    .card8{
        width: 150px;
        height: 100px;
        margin-left: 480px;

    }
    .a2{
        width: 150px;
        height: 100px;
    }
    .card9{
        width: 150px;
        height: 110px;
        margin-left: 890px;
        margin-top: -5%;

    }
    .a3{
        width: 150px;
        height: 110px;
        margin: 0px;
    }
    .card10{
        width: 150px;
        height: 110px;
        margin-left: 60px;
        top: 5%;

    }
    .a4{
        width: 150px;
        height: 110px;
    }
    .card11{
        margin-left: 480px;
        width: 150px;
        height: 110px;
       
    }
    .a5{
        width: 150px;
        height: 110px;
    }
    .card12{
        margin-left: 890px;
        width: 150px;
        height: 110px;
       
    }
    .a6{
        width: 150px;
        height: 110px;
    }
    .card13{
        margin-left: 60px;
        width: 180px;
        height: 110px;
      
    }
    .a7{
        width: 180px;
        height: 110px;
    }
    .card14{
        margin-left: 480px;
        width: 150px;
        height: 110px;
 
    }
    .a8{
        width: 150px;
        height: 110px;
    }
    .card15{
        margin-left: 890px;
        width: 160px;
        height: 100px;
      
    }
    .a9{
        width: 160px;
        height: 100px;
    }


}

/* This is for mobile */

@media screen and (max-width: 425px) {
    .client-area{
        width: 100%;
        height: 900px;
        top: 500px;
        margin-left: 0px;
        bottom: 0px;
        top: 300px;
    }
    .clienthead{
        font-size: 20px;
        margin-left: 170px;
    }
    .horizantalline{
        margin-left: 180px;
    }
  
.card7{
    width: 110px;
    height: 90px;
    margin-left: 80px;
}
.a1{
    width: 130px;
    height: 80px;
}
.card8{
    width: 110px;
    height: 80px;
    margin-left: 420px;
    margin-top: 140px;

}
.a2{
    width: 110px;
    height: 80px;
    margin: 0px;
   
}
.card9{
    width: 110px;
    height: 80px;
    margin-left: 550px;

    margin-top: 290px;
}
.a3{
    width: 110px;
    height: 80px;
    margin: 0px;
    
}
.card10{
    width: 110px;
    height: 80px;
    margin-left: 80px;
    top: 20px;
    width: 120px;

   
}
.a4{
    width: 110px;
    height: 80px;
}
.card11{
    width: 110px;
    height: 80px;
    margin-left: 426px;
    width: 100px;
    top: -30px;
  
  
}
.a5{
    width: 110px;
    height: 80px;
    margin: 0px;
    
}
.card12{
    width: 110px;
    height: 80px;
    margin-left: 320px;
    margin-top: 500px;
    
   
}
.a6{
    width: 110px;
    height: 80px;
    margin: 0px;
   
}
.card13{
    width: 110px;
    height: 80px;
    margin-left: 75px;
    width: 140px;
    top: 70px;
  
    
}
.a7{
    width: 150px;
    height: 80px;
    margin: 0px;
}
.card14{
    width: 110px;
    height: 80px;
    margin-left: 420px;
    width: 110px;
    top: 70px;
  
    
   
}
.a8{
    width: 110px;
    height: 80px;
    margin: 8px;
}
.card15{
    width: 110px;
    height: 80px;
    margin-left: 430px;
    top: 200px;
   
   

}
.a9{
    width: 110px;
    height: 80px;
    margin: 0px;
}
}

/* this is for phones */
@media screen and (max-width: 380px) {
    .clienthead{
        margin-left: 135px;
    }
    .horizantalline{
        margin-left: 148px;
    }
   
    .card7,.a1,.card8,.a2,.card9,.a3,.card10,.a4,.card11,.a5,.card12,.a6,.card13,.a7,.card14,.a8,.card15,.a9{
        width: 110px;
        height: 80px;
        padding: 10px;
    }
    .card7,.a1{
        margin-left: 35px;
        width: 120px;
        height: 90px;
        margin-top: -25px;
        
    }
    .card8{
        margin-left: 400px;
        margin-top: 145px;
        height: 70px;
     
    }
    .a2{
        margin: 1px;
        margin-left: -5px;
        height: 70px;
    }
    .card9{
        width: 100px;
        margin-left: 340px;
        margin-top: 450px;
    }
    
    .a3{
        margin: 0px;
        margin-left: -10px;
        margin-top: -5px;
    }
    .card10{
        margin-top: 300px;
        width: 120px;
        height: 80px;
       
        margin-left: 90px;
    }
    .a4{
        width: 120px;
        height: 80px;
       
    }
    .card11{
        margin-left: 400px;
        width: 110px;
        top: -30px;
       
    }
    .a5{
        margin: 0px;
        margin-top: -15px;
        width: 120px;
        height: 90px;
        margin-left: -15px;
    }
    .card12{
        margin-left: 520px;
        margin-top: 650px;
    

    }
    .a6{
        margin: 0px;
        margin-left: -5px;
        margin-top: -10px;
    }
    .card13{
        margin-left: 40px;
        width: 140px;
        top: -70px;
        
    }
    .a7{
        width: 200px;
        height: 100px;
        margin-top: -20px;
    }
    .card14{
        margin-left: 400px;
        width: 110px;
        top: -70px;
       
    
    }
    .a8{
        margin: 0px;
    }
    .card15{
        margin-left: 430px;
        top: 230px;
        

    }
    .a9{
        margin: 0px;
    }
}





/* this is footer section */

.Contact-area{
    width: 100%;
    height: 464px;
    background: white;
    margin-top: 1500px;  
}
.Group19{
    position: relative;
    left: -109px;
    top: 327px;
}


footer{
    margin-top: 0px;
    width: 100%;
    height: 339px;
    background-color: #7D7D7D;
    margin-bottom: 0px;
}
.container-fluid{
    width: 1200px;
    margin-left: 17%;
    
}
h1{
    margin-top: -7px;
    margin-left: -15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 1px;

    color: #000000;
}

.details1{
    
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #000000;
margin-left: -380px;

}

.details2{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #000000;
margin-left: -365px;
margin-top: -15px;
}

.address{
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;   
    color: #000000;
    margin-left: -10px;
   
}
h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
    margin-left: -2px;
}

.second{
    margin-left: 460px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
}
.icon1{
    color: #E6BA33;
    font-size: 30px;
    text-align: center;
    margin-left: 390px;
}
.icon2{
    color: #E6BA33;
    font-size: 30px;
    text-align: center;
    margin-left: 480px;
    margin-top: -45px;
}
.icon4{
    color: #E6BA33;
    font-size: 30px;
    text-align: center;
    margin-left: 550px;
    margin-top: -45px;
}



.btn2{
    width: 100px;
    margin-top: 50px;
    margin-left: 450px;
    background: #E6BA33;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.new1{
    margin-top: 40px;
    margin-left: 0px;
    width: 1350px;
    background-color: #E6BA33;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.vl1 {
    border-left: 2px solid #E6BA33;
    height: 15px;
    margin-top: -183px;
    margin-left: -1px;
    
  }
  .vl2 {
    border-left: 2px solid #E6BA33;
    height: 15px;
    margin-left: 1166px;
    margin-top: -183px;
    margin-left: 1068px;
  }

.navbar{
    margin-left: 300px;
    width: 500px;
    list-style: none;
}

a:hover{
    color: black;
}

.icon3{
    width: 36px;
    height: 36px;
    margin-left: 340px;
    background-color: #E6BA33;
}
.fa-angle-up{
    font-size: 30px;
    margin-left: 8px;
    font-weight: bold;
}

/* This is for pc */
@media screen and (max-width: 1440px) {
    .Contact-area{
        width: 100%;
        height: 350px;
    }
     
    .addressmap{
        width: 100%;
    }
    .container-fluid{
        margin-left: 8.3%;
    }
    .Group19{
        left: -308px;
        top: 370px;
    }
    .vl1{
        margin-top: -165px;
        margin-left: -1px;
    }
    .vl2{
        margin-top: -168px;
    }
    .details1{
        margin-left: -375px;
    }
    .details2{
        margin-left: -355px;
    }
}



@media screen and (max-width: 1024px) {
    .Contact-area{
        width: 100%;
        height: 250px;
    }
    .addressmap{
        width: 100%;

    }
    footer{
        width: 100%;
        margin-left: 0px;
    }
    .container-fluid{
        width: 100%;
        margin-left: 10%;
    }
    .Group19{
        left: -509px;
        top: 410px;
    }
    .second{
        margin-left: 100px;
    }
    .icon1{
        margin-left: -200px;
    }
    .icon2{
        margin-left: -120px;
    }
    .vl2{
        margin-left: 620px;
    }
    .btn2{
        margin-left: 100px;
    }
    .new1{
        width: 800px;
    }
    .navbar{
        margin-left: 50px;
    }
    .icon3{
        margin-top: 0px;
        margin-left: 150px;
    }
    .details1{
        margin-left: -285px;
    }
    .details2{
        margin-left: -268px;
    }
}

/* this is for tablet */

@media screen and (max-width: 768px) {
    .Contact-area{
        width: 100%;
        height: 250px;
        background: white;
        margin-top: 110%;
    }
    .addressmap{
        width: 100%;
        height: 250px;
    }
  
    .icon3{
        display: none;
    }
    .new1{
        display: none;
    }

    footer{
        margin-top: 0px;
        width: 100%;
        height: 399px;
        background-color: #7D7D7D;
    }
    .container-fluid{
        margin-left: 40px;
    }
    .navbar{
        margin-left: initial;
    }
    .second{
        margin-left: -10%;
    }
    .icon1{
        margin-left: -120%;
    }
    .icon2{
        margin-left: -100%;
    }
    .icon3{
        margin-left: 100%;
    }
    .icon4{
        margin-left: -90%;
    }
    .vl2{
        margin-left: 46%;
    }
    .btn2{
        margin-left: -10%;
    }
    .Group19{
        left: -82%;
        top: 166%;
    }
    .new1{
        margin-top: 40px;
        background-color: #E6BA33;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}
@media screen and (max-width: 1440px) {
    html,body{
        overflow-x: hidden;
    }
}

/* this is for 425px phones */

@media screen and (max-width: 425px) {


    .Contact-area{
        margin-top: 100%;
        width: 100%;
        height: 150px;
        background: white;  
    }
    .addressmap{
        height: 150px;
    }
    .container-fluid{
        width: 100%;
        margin-left: 40px;
    }
    .Group19{
        left: -753px;
        top: 469px;
        width: 100px;
        height: 50px;

    }
    .first{
        font-size: 15px;
        margin-left: -35px;
    }
    .vl1{
        margin-top: 13px;
        margin-left: -25px;
        position: absolute;
    }

    .vl2{
        position: absolute;
        margin-left: -25px;
        margin-top:238px;
    }
    .details1{
        margin-left: -245px;
    }
    .details2{
        margin-left: -225px;
    }
    .second{
        font-size: 15px;
        margin-top: 140px;
        margin-left: -35px;
    }
    h2{
        font-size: 15px;
        
    }
    .address{
        font-size: 11px;
        text-align: start;
        margin-left: -30px;
    }
    .navbar,.icon3{
        display: none;
    }

    .icon1{
        margin-left: 10px;
        font-size: 25px;
        margin-left: -380px;
        margin-top: -10px;
    }
    .icon2{
        margin-left: -300px;
        font-size: 25px;
        margin-top: -38px;
    }
    .fa-instagram{
        font-size: 20px;
        margin-top: 10px;
    }
    .btn2{
        margin-top: -20px;
        margin-left: 150px;
    }
    .icon3{
        display: none;
    }
    .new1,.navbar{
        display: none;
    }
}






/* this is for phones */
@media screen and (max-width: 375px) {
        .Contact-area{
            margin-top: 300px;
            width: 100%;
            height: 150px;
            background: white;
        }
        .container-fluid{
            width: 100%;
            margin-left: 40px;
        }
        .first{
            font-size: 15px;
            margin-left: -35px;
        }
        .vl1{
            margin-top: 13px;
            margin-left: -25px;
            position: absolute;
        }

        .vl2{
            position: absolute;
            margin-left: -25px;
            margin-top:238px;
        }
        .details1{
            margin-left: -200px;
        }
        .details2{
            margin-left: -180px;
        }
        .second{
            font-size: 15px;
            margin-top: 140px;
            margin-left: -35px;
        }
        h2{
            font-size: 15px;
            
        }
        .address{
            font-size: 11px;
            text-align: start;
            margin-left: -30px;
        }
        .navbar,.icon3{
            display: none;
        }

        .icon1{
            left: 10px;
            font-size: 25px;
            margin-left: -380px;
            margin-top: -10px;
        }
        .icon2{
            margin-left: -300px;
            font-size: 25px;
            margin-top: -38px;
        }
        .fa-instagram{
            font-size: 20px;
            margin-top: 10px;
            
        }
        .btn2{
            margin-top: -20px;
            margin-left: 150px;
        }
}
@media screen and (max-width: 375px) {
    .Contact-area{
        margin-top: 600px;
        height: 150px;
    }
    .addressmap{
        height: 150px;
    }
    .Group19{
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .details1{
        margin-left: -200px;
    }
    .details2{
        margin-left: -180px;
    }
}

