.formbox{
    position: absolute;
    width: 90%;
    height: 863px;
    background: #FFFFFF;
    border: 16px solid #E6BA33;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 89px;
    margin-top: -30px;
}

.formhead{
    font-size: 25px;
    justify-content: center;
    margin-top: 50px;
}
.formhr{
    width: 150px;
    background: black;
    height: 2px;
    margin-left: 730px;
    margin-top: -3px;
}

.register-box{
    position: absolute;
        width: 300px;
        height: 400px;
        position: absolute;
        box-sizing: border-box;
        margin-left: 1100px;
        margin-top: -490px;
}
.pic{
    width: 500px;
    height: 300px;
    position: absolute;
    margin-left: 180px;
    margin-top: 180px;
}



.vl5{
    width: 3px;
    height: 500px;
    margin-left: 800px;
    margin-top: 70px;
    border: 4px solid #000000;
 
}

input{
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 3px solid #7D7D7D;
    box-sizing: border-box;
    border-radius: 50px;
    
}

.register-box p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
}

.name,.phone{
        width: 270px;
}
.email,.org,.sser{
    width: 400px;
}
:placeholder-shown{
    font-style: italic;
}

.fa-phone{
    position: relative;
    font-size: 25px;
    left: -40px;
    top: 3px;
    color: #7D7D7D;
    
}
.sser{
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    height: 42px;
    background: white;
    border: 3px solid #7D7D7D;
}
.fa-chevron-down{
    position: absolute;
    font-size: 25px;
    color: #7D7D7D;
    margin-left: 369px;
    margin-top: -53px;
}

.submitbtn{
    position: absolute;
    width: 155px;
    height: 50px;
    background: #7D7D7D;
    border-radius: 6px;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
    margin-left: -370px;

}




.Contact-area2{
    width: 100%;
    height: 464px;
    background: white;
    margin-top: 100px;
}
.Group19{
   margin-left: 905px;
   margin-top: -1135px;
}

.contactbox{
    position: absolute;
    margin-top: 850px;
}

   
   
    .contactbox{
        margin-top: 1150px;
    }

    /* this is for pc */
    @media screen and (max-width: 1024px) {
        .formbox{
            position: absolute;
            width: 90%;
            height: 630px;
            background: #FFFFFF;
            border: 16px solid #E6BA33;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            margin-left: 55px;
            margin-top: -30px;
        }
        
        .formhead{
            font-size: 25px;
            justify-content: center;
            margin-top: 50px;
        }
        .formhr{
            width: 150px;
            background: black;
            height: 2px;
            margin-left: 365px;
            margin-top: -3px;
        }
        
        .register-box{
            position: absolute;
                width: 500px;
                height: 300px;
                position: absolute;
                box-sizing: border-box;
                margin-left: 530px;
                margin-top: -385px;
        }
        .pic{
            width: 300px;
            height: 200px;
            position: absolute;
            margin-left: 100px;
            margin-top: 100px;
        }
        
        
        
        .vl5{
            width: 2px;
            height: 380px;
            margin-left: 450px;
            margin-top: 30px;
            border: 2px solid #000000;
         
        }
        
        input{
            padding: 2px;
            margin-bottom: 10px;
            border: 3px solid #7D7D7D;
            box-sizing: border-box;
            border-radius: 50px;
            
        }
        
        .register-box p{
            font-size: 15px;
            font-family: 'Poppins', sans-serif; 
            font-weight: bold;
        }
        
        .name,.phone{
                width: 230px;
        }
        .email,.org,.sser{
            width: 350px;
        }
        :placeholder-shown{
            font-style: italic;
        }
        
        .fa-phone{
            position: relative;
            font-size: 25px;
            left: -40px;
            top: 3px;
            color: #7D7D7D;
            
        }
        .sser{
            padding: 3px;
            border-radius: 20px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border-radius: 50px;
            height: 33px;
            background: white;
            border: 3px solid #7D7D7D;
        }
        .fa-chevron-down{
            position: absolute;
            font-size: 25px;
            color: #7D7D7D;
            margin-left: 369px;
            margin-top: -53px;
        }
        
        .submitbtn{
            position: absolute;
            width: 155px;
            height: 50px;
            background: #7D7D7D;
            border-radius: 6px;
            font-size: 20px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 37px;
            color: #000000;
            margin-left: -500px;
            margin-top: 60px;
        
        }
        

        .Contact-area2{
            width: 100%;
            height: 270spx;
            background: white;
            margin-top: 100px;
        }
        .Group19{
        margin-left: 905px;
        margin-top: -1135px;
        }

        .contactbox{
            position: absolute;
            margin-top: 850px;
        }
    }